block variables
  //- Meta Tags HTML
  - let siteName = 'ErwCode', pageTitle;

  //- Meta Tags SEO
  - let metaDescription, metaKewords;

doctype html
html(lang="es-MX")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    if pageTitle === 'Home'
      title= `${siteName} | Tecnologías de la Información & Marketing Digital`
    else
      title= `${pageTitle} | ${siteName}`
    meta(name="description" content= metaDescription)
    meta(name="keywords" content= metaKeywords)
    meta(name="author" content="ErwCode Technologies")
    meta(name="robots" content="index, follow")
    meta(name="theme-color" content="#0C3455")
    //- Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-93122800-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-93122800-1');
    //- Hotjar Tracking Code for www.erwcode.com
    script.
      (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:1543506,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    link(rel="shortcut icon" href="./assets/images/favicon.png")

  body
    //- Menu Section
    include includes/menu.pug
    block body
